/* src/index.css */
.btn-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.section-center {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  max-width: 1170px;
  margin: 0 auto;
}

.menu-item {
  display: grid;
  gap: 1rem;
}

.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.price {
  color: #c59d5f;
}

@media screen and (min-width: 768px) {
  .section-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
